<footer>
  <h1>Moderation Man</h1>
  <br>
  <p style="text-align: center; font-family: 'Knewave', cursive;">The only bot you'll need in your Discord Server!</p>
  <br>
  <h3 style="text-align: center;">© 2021 - Yoshiboi18303 - MIT License</h3>
</footer>