<br><br>
<footer>
  <h1>Moderation Man</h1>
  <br>
  <p style="text-align: center;" class="footerdesc">The only bot you'll need in your Discord Server!</p>
  <br>
  <h3 style="text-align: center;">© 2021 - Yoshiboi18303 - <a href="https://github.com/Yoshiboi18303/Moderation-Man/blob/main/LICENSE" target="_blank" style="color: #7289DA;">GNU General Public License</a></h3>
  <br>
  <p style="text-align: center; font-family: 'Orbitron', sans-serif;">Thanks to FHGDev for making the Dashboard!</p>
  <br>
  <a href="//www.dmca.com/Protection/Status.aspx?ID=a427ee9d-a41c-4b5c-9b4c-1f3789434584" title="DMCA.com Protection Status" class="dmca-badge" style="text-align: center;"> <img src ="https://images.dmca.com/Badges/dmca_protected_sml_120l.png?ID=a427ee9d-a41c-4b5c-9b4c-1f3789434584"  alt="DMCA.com Protection Status" /></a>  <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
</footer>