<footer>
  <h1>Moderation Man</h1>
  <br>
  <p style="text-align: center;" class="footerdesc">The only bot you'll need in your Discord Server!</p>
  <br>
  <h3 style="text-align: center;">© 2021 - Yoshiboi18303 - <a href="https://github.com/Yoshiboi18303/Moderation-Man/blob/main/LICENSE" target="_blank" style="color: #7289DA;">GNU General Public License</a></h3>
</footer>