<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %> | Moderation Man</title>
  <link rel='shortcut icon' href="/static/img/icon.png">
  <link rel="stylesheet" href="/static/css/style.css">
</head>