<!-- Head for webpages -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= title %> | Moderation Man</title>
<link rel='shortcut icon' href="/static/img/icon.png">
<link rel="stylesheet" href="/static/css/style.css">
<script src='https://cdn.jsdelivr.net/npm/@widgetbot/crate@3' async defer>
    new Crate({
        server: '892603177248096306', // Moderation Man * Support
        channel: '892603177248096310',
        location: ['bottom', 'right'],
        indicator: true
    })
</script>