<html lang="en">
<head>
	<%- include('includes/head', { title: "Dashboard" }) %>
</head>
<div>
  <%- include('includes/header') %>
	<body>
  <br>
		<h1>Web Dashboard</h1>
    <p style="text-align: center; font-family: 'Orbitron', sans-serif;"></p>
	<br>
  <%- include('includes/footer', { cYear }) %>
  </body>
</div>
</html>