<html lang="en">
<head>
	<%- include('includes/head', { title: "Developer" }) %>
</head>
<body>
  <img src="/static/img/yoshiboi18303_icon.png" alt="Developer Icon" class="devicon" style="width: 128px; height: 128px; border: 3px solid #4CAF50; border-radius: 50%; position: relative; left: 605px;">
  <h1><%= user.username %></h1>
  <br>
  <br>
  <p style="position: relative; text-align: center;">This is the developer of <code>Moderation Man</code>!</p>
  <br>
  <h2>Developer Links</h2>
  <br>
  <a href="https://www.twitch.tv/yoshiboi18303" target="_blank" style="font-family: 'Knewave', cursive; color: #00FA69; position: relative; left: 610px; color: #00FA69;">Twitch</a>
  <a href="https://twitter.com/Yoshi_Brid" target="_blank" style="font-family: 'Knewave', cursive; text-align: center; color: #00FA69; position: relative; left: 650px; color: #00FA69;">Twitter</a>
  <br>
  <br>
  <%- include('includes/footer') %>
</body>
</html>