<html lang="en">
<head>
	<%- include('includes/head', { title: "Features" }) %>
</head>
<body>
  <%- include('includes/header') %>
  <br>
  <h1><%= bot.username %> Features</h1>
  <br>
  <img src="/static/img/economy.png" alt="Economy Image" style="max-width: 42%; height: auto; position: relative; top: 10px;">
  <h2 style="position: relative; left: 150px; bottom: 200px; ">Economy</h2>
  <p style="position: relative; left: 662px; bottom: 160px; font-family: 'Josefin Sans', sans-serif;">Start making money with a non-stolen system!</p>
  <br>
  <img src="/static/img/moderation.png" alt="Moderation Image" style="max-width: 42%; height: auto; position: relative; left: 800px; top: 10px;">
  <h2 style="position: relative; right: 250px; bottom: 175px;">Moderation</h2>
  <p style="position: relative; left: 225px; bottom: 135px; font-family: 'Josefin Sans', sans-serif;">Make your server a safer and more fun place to be!</p>
  <br>
  <img src="/static/img/fun.png" alt="Fun Image" style="max-width: 42%; height: auto; position: relative; top: 10px;">
  <h2 style="position: relative; left: 150px; bottom: 200px; ">Fun</h2>
  <p style="position: relative; left: 662px; bottom: 160px; font-family: 'Josefin Sans', sans-serif;">Have a couple good laughs with your friends!</p>
  <br>
  <%- include('includes/footer') %>
</body>
</html>