<html lang="en">
<head>
	<%- include('includes/head', { title: "Home" }) %>
</head>
<div>
  <%- include('includes/header') %>
  <body>
    <br>
    <h2>Click on any of these buttons to be redirected.</h2>
    <br>
    <div class="buttons">
      <button class="btn" onclick="location.href='/cmds'">Commands</button>
      <button class="btn" onclick="location.href='<%= link %>'">Invite</button>
      <button class="btn" onclick="location.href='https://discord.gg/nv4pyCXBnr'">Support</button>
			<button class="btn" onclick="location.href='/features'">Features</button>
    </div>
    <br>
    <br>
    <a href="https://top.gg/bot/891070722074611742">
      <img src="https://top.gg/api/widget/891070722074611742.svg" style="position: relative; left: 418px; bottom: 5px;">
    </a>
    <a href="https://infinitybotlist.com/bots/891070722074611742">
      <img src="https://infinitybotlist.com/bots/891070722074611742/widget?size=large" style="position: relative; top: 5px; left: 458px;">
    </a>
  <br>
  <br>
  <%- include('includes/footer') %>
  </body>
</div>
</html>