<html lang="en">
<head>
	<%- include('includes/head', { title: "Info" }) %>
</head>
<body>
  <%- include('includes/header') %>
  <h1>Info</h1>
  <h3>Here's some info on <% client.user.username %>!</h3>
</body>
</html>