<html lang="en">
<head>
	<%- include('includes/head', { title: "Privacy" }) %>
</head>
<body>
  <%- include('includes/header') %>
  <br>
  <h1 id="moderation-man-privacy-policy">Moderation Man Privacy Policy</h1>
  <p style="text-align: center; font-family: 'Quicksand', sans-serif;">Here is the Privacy Policy for Moderation Man!</p>
  <h1 id="privacy-policy">Privacy Policy</h1>
  <ul>
  <li><p style="text-align: center; font-family: 'Quicksand', sans-serif;">We collect Your user ID, your warnings, etc.</p>
  </li>
  <li><p style="text-align: center; font-family: 'Quicksand', sans-serif;">We need this for certain functions of the bot to work properly.</p>
  </li>
  <li><p style="text-align: center; font-family: 'Quicksand', sans-serif;">We use this data in the bot for certain commands.</p>
  </li>
  <li><p style="text-align: center; font-family: 'Quicksand', sans-serif;">Your warning count is shown in the warnings command, but other than that, nothing else is shown, as far as I know.</p>
  </li>
  <li><p style="text-align: center; font-family: 'Quicksand', sans-serif;">Kind of! All your data is saved behind a MongoDB Database, and only the warning context gets shown publicly!</p>
  </li>
  <li><p style="text-align: center; font-family: 'Quicksand', sans-serif;">You can contact the developer of Moderation Man in the <a href="https://discord.gg/nv4pyCXBnr">Support Server</a> if you have any concerns!</p>
  </li>
  <li><p style="text-align: center; font-family: 'Quicksand', sans-serif;">Contact <code>Yoshiboi18303#4045</code> with what you want to be deleted, and he&#39;ll get to  <strong>WARNING:</strong> Some data cannot be deleted by the developer (as it&#39;s too important), but can be deleted manually by a server moderator (using the command <code>/warnremove</code>) if at all necessary!</p>
  </li>
  </ul>
  <hr>
  <br>
  <p style="text-align: center; font-family: 'Quicksand', sans-serif;">That&#39;s the end of the Privacy Policy, but please remember to <a href="https://discord.gg/nv4pyCXBnr" target="_blank">contact the developer</a> if you have any kind of concerns with your data.</p>
  <br>
  <hr>
  <br>
  <h1 id="links">Links</h1>
  <br>
  <hr>
  <br>
  <h2 id="other-links">Other Links</h2>
  <br>
  <p style="text-align: center; font-family: 'Quicksand', sans-serif;"><a href="https://top.gg/bot/891070722074611742">Top.gg Bot</a></p>
  <p style="text-align: center; font-family: 'Quicksand', sans-serif;"><a href="https://discordlists100.xyz/bot/891070722074611742">Discord Lists Bot</a></p>
  <p style="text-align: center; font-family: 'Quicksand', sans-serif;"><a href="https://github.com/Yoshiboi18303/Moderation-Man">GitHub Repository</a></p>
  <p style="text-align: center;"><a href="https://github.com/Yoshiboi18303/Moderation-Man/blob/main/PRIVACY.md">Markdown Version</a></p>
  <br>
  <%- include('includes/footer') %>
</body>
</html>