<html lang="en">
  <head>
    <%- include("includes/head", { title: "Rules" }) %>
  </head>
  <body>
    <%- include("includes/header") %>
    <h1 id="moderation-man-rules">Moderation Man Rules</h1>
    <br>
    <p>These are the rules for using Moderation Man, by using Moderation Man, you agree to these rules.</p>
    <br>
    <hr>
    <br>
    <h1 id="general-rules">General Rules</h1>
    <br>
    <p>The general rules.</p>
    <br>
    <ol>
    <li>You are not allowed to use this bot for malicious purposes.</li>
    <li>You may not re-distribute, fork, or copy any of the code without following the rules specified in the <a href="https://github.com/Yoshiboi18303/Moderation-Man/blob/main/LICENSE">license</a>.</li>
    <li>You are not allowed to spam commands in a way to overload/ratelimit the Discord API.</li>
    </ol>
    <br>
    <hr>
    <br>
    <h1 id="economy-rules">Economy Rules</h1>
    <br>
    <p>The rules for the Economy system.</p>
    <br>
    <ol>
    <li><em>(this only applies to admins)</em> You are not allowed to add money to yourself.</li>
    </ol>
    <br>
    <hr>
    <br>
    <p>Thanks so much for using Moderation Man, and have a great day using him!</p>
    <br>
    <hr>
    <br>
    <p><a href="https://github.com/Yoshiboi18303/Moderation-Man/blob/main/RULES.md">Markdown Version</a></p>
    <%- include("includes/footer", { cYear }) %>
  </body>
</html>