<html lang="en">
<head>
	<%- include('includes/head', { title: "Dashboard" }) %>
</head>
<body>
  <%- include('includes/header') %>
  <br>
  <h1><%= guild.name %>'s Dashboard</h1>
  <h2>Settings</h2>
	<br>
	<form>
		<div class="form-row">
			<label for="commands">
        Commands
      </label>
      <h1>Coming Soon!</h1>
		</div>
	</form>
  <br>
  <%- include('includes/footer') %>
</body>
</html>